<?xml version="1.0"?>
<MyConfigParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DeviceName />
  <GestureModuleName />
  <BackBufferWidth>960</BackBufferWidth>
  <BackBufferHeight>540</BackBufferHeight>
  <HandRecognitionMaxDepth>0.5</HandRecognitionMaxDepth>
  <HandRecognitionMaxDepthGap>0.01</HandRecognitionMaxDepthGap>
  <HandRecognitionPixelSkip>1</HandRecognitionPixelSkip>
  <DistortionSurfaceResolutionWidth>80</DistortionSurfaceResolutionWidth>
  <DistortionSurfaceResolutionHeight>45</DistortionSurfaceResolutionHeight>
  <DistortionThetaMappingDepth>1</DistortionThetaMappingDepth>
  <BackgroundImagePath>Images\VrPlayerSample.jpg</BackgroundImagePath>
  <CameraPitchAngle>-5</CameraPitchAngle>
  <CameraOffsetY>0.15</CameraOffsetY>
  <CameraScale>2</CameraScale>
</MyConfigParameter>