<?xml version="1.0"?>
<MyConfigParameter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DeviceName></DeviceName>
  <GestureModuleName></GestureModuleName>
  <BackBufferWidth>960</BackBufferWidth>
  <BackBufferHeight>540</BackBufferHeight>
  <PointSize>5</PointSize>
  <VoxelSize>0.01</VoxelSize>
  <ICPPointCountMin>2000</ICPPointCountMin>
  <ICPMaxIteration>10</ICPMaxIteration>
  <ICPErrorConvergence>0.002</ICPErrorConvergence>
  <ICPSamplingCount>1000</ICPSamplingCount>
</MyConfigParameter>